html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar{
    background-color: lightblue;
    grid-row: 1/3;
}

.header{
    background-color: #f7f7f7;
}

.content{
    background-color: lightgrey;
}